html {
	background-color: black;
}
body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1 {
  color: green;
}
h3 {
	color: green;
}
i {
	color:black;
}
p {
	color: green;
}
pre {
	text-align: left;
}